ul {
    list-style: none;
}

img {
    height: 300px;
}

#layout {
    padding: 20px;
}

.buttonsLi {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: rgba(100, 100, 100, 0.5);
    float: left;
    margin: 8px;
    cursor: pointer;
    border-radius: 5px;
    bottom: 20px;
}

.current {

    position: relative;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    float: left;
    margin: 8px;
    cursor: pointer;
    border-radius: 5px;
    bottom: 20px;
}

#nav {
    margin: 0 auto;
    overflow: scroll;
    width: 700px;
}


.hide {
    display: none;
}

.show {
    display: block;
}

#liDots {
    width: 30%;
    margin: 0 auto;
}


.nav {
    margin: 0 auto;
    width: 700px;
}


.bgrNavbar {
    background-color: #95ffff91;
}

body {
    background-image: url('/pictures/background.jpg');
    width: 100%;
    height: 100%;
    background-size: 100%
}
