<meta charset="UTF-8">

<div id="container">
    <form method="post" enctype="multipart/form-data" action="/upload">
        <input type="file" name="file">
        <input type="submit" value="Submit">
    </form>
    <div id="slider">
        <p>
            <button id="btnPlay">Play</button>
            <button id="btnStop">Stop</button>
        </p>
        Добавить картинку по ссылке в слайдер: <input type="text" id="linkInput">
        <button id="btnAdd">Добавить</button>
        <p>
            <img id="sliderImg"/>
        </p>
        <p>
        <div id="nav">
            <button id="btnLeft" class="btnSlide show"> <</button>
            <div id="liDots">
                <ul id="buttonsUl"></ul>
            </div>
            <button id="btnRight" class="btnSlide show"> ></button>
        </div>
        </p>

    </div>

</div>

<script>
    console.log(list)




    //var imgsArr2 = ["https://www.w3schools.com/howto/img_snow_wide.jpg", "https://www.w3schools.com/howto/img_mountains_wide.jpg"];

    class MySlider {
        constructor(imgsArr, sliderId, intervalId, nav) {
            this.imgsArr = imgsArr;
            this.intervalId = intervalId;
            this.sliderId = sliderId;
            this.nav = nav;
            //this.nav.navs
            if (!this.nav.delay) {
                this.nav.delay = 5;
            }
        }

        prevImg() {
            var index = this.getIndex();
            if (index === 0) {
                document.getElementById(this.sliderId).src = this.imgsArr[this.imgsArr.length - 1];
            } else {
                document.getElementById(this.sliderId).src = this.imgsArr[index - 1];
            }
            this.setActiveBtn();
        }

        nextImg() {
            var index = this.getIndex();
            if (index !== this.imgsArr.length - 1) {
                document.getElementById(this.sliderId).src = this.imgsArr[index + 1];
            } else {
                document.getElementById(this.sliderId).src = this.imgsArr[0];
            }
            this.setActiveBtn();
        }

        getIndex() {
            return imgsArr.indexOf(document.getElementById(this.sliderId).src);
        }

        slide() {
            let intervalSlide = setInterval(this.nextImg.bind(this), this.nav.delay * 1000);
            document.getElementById("sliderImg").addEventListener("mouseover", function () {
                console.log("mytest", intervalSlide);
                clearInterval(intervalSlide);
            });
        }

        play() {
            this.nextImg()
            this.intervalId = setInterval(
                this.nextImg.bind(this), this.nav.delay * 1000);
        }

        stop() {
            clearInterval(this.intervalId);
        }

        dotsSlide() {
            if (this.nav.navs === false) {
                document.getElementById("btnRight").classList.remove("show");
                document.getElementById("btnRight").classList.add("hide");
                document.getElementById("btnLeft").classList.remove("show");
                document.getElementById("btnLeft").classList.add("hide");
                return;
            }
            console.log("dotsSlide li");
            var i = 0;
            var index = 0;
            while (i < this.imgsArr.length) {

                var li = document.createElement("li");
                li.setAttribute('class', "buttonsLi");
                if (this.imgsArr[i] === document.getElementById(this.sliderId).src) {
                    index = i;
                    li.setAttribute('class', "current");
                }
                li.setAttribute('onclick', "mySlider.changeImg(" + i + ")");
                document.getElementById("buttonsUl").appendChild(li);
                console.log("creating li");
                i++;
            }
        }

        addPic() {
            let inp = document.getElementById("linkInput");
            let link = inp.value;
            if (document.getElementById("linkInput").value) {
                this.imgsArr.push(link);
                inp.value = "";
                var li = document.createElement("li");
                li.setAttribute('class', "buttonsLi");
                li.setAttribute('onclick', "mySlider.changeImg(" + (this.imgsArr.length - 1) + ")");
                document.getElementById("buttonsUl").appendChild(li);
            }
            console.log(imgsArr);
        }

        setActiveBtn() {
            if (this.nav.navs === false) {
                return;
            }
            let dotsBtn = [].slice.call(document.getElementsByTagName("li"));
            for (let key in dotsBtn) {
                console.log(dotsBtn[key]);
                dotsBtn[key].classList.remove('current');
                dotsBtn[key].classList.add('buttonsLi');
            }
            var index = this.getIndex();
            dotsBtn[index].classList.remove('buttonsLi');
            dotsBtn[index].classList.add('current');
        }

        changeImg(dotNum) {
            console.log("changeImg()", dotNum)
            document.getElementById(this.sliderId).src = this.imgsArr[dotNum];
            this.setActiveBtn();
            //todo : changeImg
            //todo : try add img by url (create text input and btn "ADD" and increase array of imgs)
        }
    }

    const mySlider = new MySlider(imgsArr, "sliderImg", null, {
        loop: true,
        navs: true,
        auto: true,
        delay: 2,
    });

    console.log("mySlider.nav.delay", mySlider.nav.delay)

    /*const mySlider2 = new MySlider(imgsArr, "sliderImg", null, {
        loop: false,
        navs: true,
        pags: false,
        auto: true,
        delay: 5,
    });*/

    console.log("test our new class mySlider", mySlider);

    document.getElementById("btnRight").addEventListener("click", function () {
        mySlider.nextImg()
    })

    document.getElementById("btnLeft").addEventListener("click", function () {
        mySlider.prevImg()
    });

    document.getElementById("btnPlay").addEventListener("click", function () {
        mySlider.play();
    })

    document.getElementById("btnStop").addEventListener("click", function () {
        mySlider.stop();
    })

    document.getElementById("btnAdd").addEventListener("click", function () {
        mySlider.addPic();
    })

    document.getElementById("sliderImg").src = imgsArr[0];
    mySlider.slide();
    mySlider.dotsSlide();
</script>

<style>
    #sliderImg {
        height: 300px;
    }

    ul {
        list-style: none;
    }

    #buttonsUl {
    }

    #container {
        margin: 0 auto;
        width: 50%;
    }

    #slider {
        position: absolute;
        top: 5%;
        left: 20%;
        width: 700px;
    }


    #btnLeft {
        float: left;
        margin: 0 10px 10px 10px;
    }

    /*#buttonsUl{
        margin: 0 auto;
    }*/

    #btnRight {
        float: right;
        margin: -16px 10px 10px 10px;
    }

    .buttonsLi {
        position: relative;
        width: 10px;
        height: 10px;
        background-color: rgba(100, 100, 100, 0.5);
        float: left;
        margin: 0 10px 10px 10px;
        cursor: pointer;
        border-radius: 5px;
    }

    /* .buttonsLi:hover {
         background-color: rgba(100, 100, 100, 1);
     }*/

    .current {

        position: relative;
        width: 10px;
        height: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        float: left;
        margin: 0 10px 10px 10px;
        cursor: pointer;
        border-radius: 5px;
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }

    #nav {
        margin: 0 auto;
        overflow: scroll;
        width: 700px;
    }

    #liDots {
        width: 30%;
        margin: 0 auto;
    }
</style>