<script>
  /*this.footer = "<footer class=\"bg-light text-center text-white\">\n" +
        "  <div class=\"container p-2 pb-0\">\n" +
        "    <section>\n" +
        "      <a\n" +
        "        class=\"btn btn-primary btn-floating m-1\"\n" +
        "        style=\"background-color: #3b5998;\"\n" +
        "        href=\"https://t.me/Divination_TarotBot\"\n" +
        "        role=\"button\"\n" +
        "      ><i class=\"fab fa-telegram-plane\"></i\n" +
        "      ></a>\n" +
        "    </section>\n" +
        "  </div>\n" +
        "  <div class=\"text-center p-2\" style=\"background-color: rgba(0, 0, 0, 0.2);\">\n" +
        "    © 2022 Copyright:\n" +
        "    <a class=\"text-white\" href=\"https://t.me/Divination_TarotBot\">@Divination_TarotBot</a>\n" +
        "  </div>\n" +
        "</footer>";
      document.getElementById("footer").innerHTML = this.footer;*/
  class Animal {
    constructor(name) {
      this.speed = 0;
      this.legs = 4;
      this.eyes = 2;
      this.name = name;
    }

    run(speed) {
      this.speed = speed;
      console.log(`${this.name} runs with speed ${this.speed}.`);
    }

    stop() {
      this.speed = 0;
      console.log(`${this.name} stands still.`);
    }
  }

  let animal = new Animal("My animal");
  console.log(animal);

  class Rabbit extends Animal {
    hide() {
      console.log(`${this.name} hides!`);
    }
  }
  //////////////////////////////////////////
  class MyCat extends Rabbit {
  constructor() {
    super();
  }
    message(){
      console.log("Cat message", this.name);
      console.log("Cat", this);
    }
  }

  let cat = new MyCat("White Cat");
  cat.message();




  let rabbit = new Rabbit("White Rabbit");

  rabbit.run(5); // White Rabbit runs with speed 5.
  rabbit.hide(); // White Rabbit hides!


  console.log("rabbit", rabbit);

</script>
